@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-success: #1f9b23;
  --toastify-color-error: #ca5143;
  --toastify-toast-width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GLOBAL PAGE NOISIFICATION */
.noise {
  position: fixed;
  inset: -200%;
  background-image: url("/images/noise.png");
  opacity: 3%;
  pointer-events: none;
  animation: shift 0.35s linear infinite both;
  z-index: 9999;
}

@keyframes shift {
  0% {
    transform: translateX(10%) translateY(10%);
  }
  100% {
    transform: translateX(-10%) translateY(-10%);
  }
}

/* SCROLLBAR REPLACEMENT */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* SELECTION COLORS */
::-moz-selection {
  /* Code for Firefox */
  color: #111;
  background: #b8b8ff;
}

::selection {
  color: #111;
  background: #b8b8ff;
}

.Toastify__toast-container {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.Toastify__toast-container--bottom-center {
  bottom: 0;
}

.Toastify__toast-theme--colored.Toastify__toast--info {
  margin-bottom: 0;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  margin-bottom: 0;
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
  margin-bottom: 0;
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  margin-bottom: 0;
}

.Toastify__toast-body {
  padding: 0 !important;
  margin: 0;
}

.Toastify__toast {
  border-radius: 0;
}
