@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GLOBAL PAGE NOISIFICATION */
.noise {
  position: fixed;
  inset: -200%;
  background-image: url("/images/noise.png");
  opacity: 4%;
  pointer-events: none;
  animation: shift 0.35s linear infinite both;
  z-index: 9999;
}

@keyframes shift {
  0% {
    transform: translateX(10%) translateY(10%);
  }
  100% {
    transform: translateX(-10%) translateY(-10%);
  }
}

/* SCROLLBAR REPLACEMENT */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}
